*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

/* Title */

.title{
    height: 55vh;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../ASSETS FOLDER/hacker-4031973_1920.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.sub-T h2{
    margin: 0px;
    padding: 120px 0px 0px;
    font-size: 60px;
    color: #fff;
    font-weight: lighter;
}

.sub-T .box{
    border:4px solid #6F7498;
    width: 90px;
    margin: auto;
    margin-top: 5px;
}

.unknown{
    padding: 24px 48px;
}

/* SecML */

.SecML-work{
    display: flex;
    flex: 50%;
    padding: 24px 48px;
}

.SecML-image{
    padding: 0px 38px;
    align-self: center;
}

.SecML-image img{
    width: 120%;
}

.SecML-image h2{
    color: #6F7498;
    text-align: center;
    padding: 14px 0px;
    margin: 0px;
    width: 120%;
    font-weight: 500;
}

.SecML-details{
    padding: 8px 21px;
    color: #212121;
    line-height: 26px;
}

.SecML-details p a{ 
    color: #212121;
}

.subtitle{
    color: #6F7498;
    font-size: 18px;
}

.img{
    width: 100%;
}

.gmi{
    width: 100%;
}

@media only screen and (max-width: 900px){
    .sub-T h2{
        padding: 100px 0px 0px;
        font-size: 40px;
        font-weight: bold;
    }
    .SecML-work{
        padding: 24px 0px;
        flex-wrap: wrap;
    }
    .SecML-image img{
        /* width: 60%; */
        margin: auto;
    }
    .SecML-image{
        padding: 0px 70px;
        text-align: center;
        
        margin: auto;
        margin-left: -50px;
    }
    .SecML-image h2{
        font-size: 20px;
        margin: auto;
        /* width: 60%; */
    }
    .gmi{
        /* width: 80%; */
        margin: auto;
    }
    .img{
        /* width: 80%; */
        margin: auto;
    }
}