*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

/* Title */

.title{
    height: 50vh;
    background-image: url('../ASSETS FOLDER/hacker-3342696_1920.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.sub-T h2{
    margin: 0px;
    padding: 120px 0px 0px;
    font-size: 55px;
    color: #fff;
    font-weight: 600;
}

.sub-T .box{
    border:4px solid #6F7498;
    width: 90px;
    margin: auto;
    margin-top: 5px;
}

.unknown{
    padding: 24px 48px;
}

/* SecPriv */

.SecPriv-work{
    display: flex;
    flex: 50%;
    padding: 24px 48px;
}

.SecPriv-image{
    padding: 0px 38px;
    align-self: center;
}

.SecPriv-image img{
    width: 100%;
}

.SecPriv-image h2{
    color: #6F7498;
    text-align: center;
    padding: 14px 8px;
    margin: 0px;
    font-weight: 500;
    /* width: 120%; */
}

.SecPriv-details{
    padding: 8px 21px;
    color: #212121;
    line-height: 26px;
}

.SecPriv-details p a{ 
    color: #212121;
}

.subtitle{
    color: #6F7498;
    font-size: 18px;
}


@media only screen and (max-width: 900px){
    .sub-T h2{
        padding: 80px 0px 0px;
        font-size: 40px;
        color: #fff;
        font-weight: 600;
    }
    .SecPriv-work{
        flex-wrap: wrap;
        padding: 24px 0px;
    }

    .SecPriv-image{
        text-align: center;
    }
    .SecPriv-image h2{
       font-size: 20px;
    }
}